@CHARSET "UTF-8";

.qui-list-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6em;
}

.qui-list-entry {
    display: flex;
    flex-direction:column;
}

.qui-list-entry-image {
    align-items: center;
    display: flex;
    height: 240px;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.qui-list-entry-image .quiqqer-icon {
    font-size: 120px;
}
.qui-list-entry-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.qui-list-entry-content h3,
.qui-list-entry-content h4 {
    font-weight: bold;
}

.qui-list-entry-short {
    margin-bottom: 20px;
}

.qui-list-entry-footer {
    margin-top: auto;
}

.qui-list-entry-footer-author-and-date {
    font-style: italic;
    font-size: 0.9em;
}

.qui-list-entry-icon-spacing {
    margin-left: 20px;
}

.qui-list-entry-footer-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.1em;
}

/* pagination */

.quiqqer-sheets-desktop {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 767px) {
    
    .qui-list-row {
        display: block;
        margin-bottom: 0;
    }
    
    .qui-list-entry {
        display: block;
        margin-bottom: 60px;
    }
}