
.qui-control-childrenlist-simpleArticleList-wrapper {
    clear: both;
    float: none;
}

.qui-control-childrenlist-simpleArticleList {
    align-items: center;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    padding: 10px 0;
}

.qui-control-childrenlist-simpleArticleList header {
    font-size: 1.2em;
}

.qui-control-childrenlist-simpleArticleList:first-child {
    padding-top: 0;
}

.qui-control-childrenlist-simpleArticleList:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.qui-control-childrenlist-simpleArticleList-time {
    margin-right: 10px;
    min-width: 120px;
    white-space: nowrap;
}

.qui-control-childrenlist-simpleArticleList-header {
    align-content: space-between;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
}

a.qui-control-childrenlist-simpleArticleList-link {
    color: inherit;
    flex-grow: 1;
    line-height: 1.5em;
}

.qui-control-childrenlist-simpleArticleList-header {
    font-weight: 500;
}

.qui-control-childrenlist-simpleArticleList-author {
    font-size: 10px;
    line-height: 1em;
    margin-top: 0;
    opacity: 0.6;
}

.qui-control-childrenlist-simpleArticleList-icon {
    font-size: 26px;
    opacity: 0.5;
    transition: all 0.3s;
}

.qui-control-childrenlist-simpleArticleList:hover .qui-control-childrenlist-simpleArticleList-icon {
    opacity: 1;
}

/* hyphenate / word break */
.qui-control-childrenlist-simpleArticleList header {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    -ms-word-break: normal;
    word-break: normal;
    word-break: break-word;
    word-wrap: break-word;
}

@media screen and (max-width: 767px) {
    .qui-control-childrenlist-simpleArticleList {
        flex-wrap: wrap;
    }

    .qui-control-childrenlist-simpleArticleList-link {
        width: calc(100% - 10px);
    }

    .qui-control-childrenlist-simpleArticleList-icon {
        width: 10px;
    }
}