@CHARSET "UTF-8";

/*.qui-control-list-entry-imagelink-fix {
    outline: 2px solid #eee;
}*/
.test-list {
    height: 100%;
}

.qui-control-list {
    padding: 20px 0 0;
}

.qui-list-entry {
    clear: both;
    float: left;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
    /*min-height: 240px;*/
    display: flex;
    align-items: center;
}

.qui-list-entry-image {
    padding-right: 20px;
}

.qui-list-entry-content {
    padding-left: 20px;
}

.qui-list-entry-short {
    margin-bottom: 20px;
}

.qui-list-entry-content-footer {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    display: block;
    align-items: center;
    line-height:40px;
    margin-top: auto;
    font-size: 0.9em;
}

.qui-list-entry-content-footer-relase-date {
    color: #999;
    font-style: italic;
}

.qui-control-list-entry-date-author {
    margin-right: 16px;
}


/* button link */
.qui-list-entry-content-footer .list-entry-link {
    margin: 0;
    float: right;
    padding: 0;
    min-width: 100px;
    text-align: center;
    border-radius: 0;
    border: none;
    background: #eee;
    color: #666;
}

.qui-list-entry-content-footer a.list-entry-link:hover {
    background: #e9e9e9;
    color: #888;
}

.qui-control-list-entry-date {
    clear: both;
    color: rgba(128, 128, 128, 0.75);
    font-size: 0.8em;
    margin: 0;
}


/* ----------- Image fix --------------- */

.qui-control-list-entry-imagelink {
    border: 1px solid #EEEEEE;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}

.qui-control-list-entry-imagelink::before {
    content: "";
    display: block;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

.qui-control-list-entry-imagelink-fix {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-top: 66.64%;
    vertical-align: middle;
}

/* -------------------------- */



.qui-control-list-entry-imagelink span {
    display: none;
}

.qui-control-list-entry-short-noImage {
    padding-left: 0 !important;
    width: 100%;
}

.qui-control-list-entry-image-noShort {
    height: 200px;
    width: 100%;
}

@media screen and (max-width: 767px) {

    .qui-control-list-entry {
        background: none;
        border: none;
        border-radius: 0;
        padding: 10px 10px 30px 10px;
    }

    .qui-control-list-entry {
        padding: 40px 0;
    }

    .qui-list-entry-image,
    .qui-list-entry-content {
        padding: 0;
    }
}