@CHARSET "UTF-8";

.qui-list-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;
}

.qui-list-row:last-child {
    margin-bottom: 0;
}

.qui-list-entry {
    display: flex;
    flex-direction: column;
}

.qui-list-entry:hover .qui-list-entry-footer-button {
    opacity: 0.8;
}

.qui-list-entry-image {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.qui-list-entry-image .quiqqer-icon {
    font-size: 100px;
}

.qui-list-entry-header-link,
.qui-list-entry-header-link:hover {
    color: inherit;
}

.qui-list-entry-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.qui-list-entry-content h1 {
    font-weight: bold;
    font-size: 1.3em;
}

.qui-list-entry-short {
    font-size: 0.9em;
    margin-bottom: 20px;
}

.qui-list-entry-footer {
    margin-top: auto;
    font-size: 0.9em;
}

.qui-list-entry-footer-author-and-date {
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 30px;
}

.qui-list-entry-icon {
    margin-left: 20px;
}

.qui-list-entry-footer-button {
    font-weight: 300;
    display: inline-block;
    font-size: 1.1em;
}

/* hyphenate / word break */
.qui-list-entry-content header {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word; /* Non standard for webkit */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/* pagination */

.quiqqer-sheets-desktop {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {

    .qui-list-row {
        display: block;
        margin-bottom: 0;
    }

    .qui-list-entry {
        border-bottom: 1px solid #eee;
        display: block;
        margin: 0;
        padding: 30px;
    }

    .qui-list-row:last-child .qui-list-entry:last-child {
        border-bottom: none;
    }
}
