@CHARSET "UTF-8";

.qui-sitetypes-sitemap-block table {
    margin-bottom: 20px;
}

.qui-sitetypes-sitemap-block th {
    background: #1183b7;
    padding: 5px 10px;
    text-align: left;
}

.qui-sitetypes-sitemap-block th a {
    color: #FFFFFF;
}

.qui-sitetypes-sitemap-block th a:hover {
    text-decoration: none;
}
