@CHARSET "UTF-8";

.qui-sitetypes-sitemap-block table {
    margin-bottom: 20px;
    padding-left: 0;
}


.qui-sitetypes-sitemap-block th {
    padding: 5px 10px;
    text-align: left;
}

.qui-sitetypes-sitemap-block th a {
    text-decoration: none;
}

.qui-sitetypes-sitemap-block th a:hover {
    text-decoration: none;
}
