@CHARSET "UTF-8";

.qui-sitetypes-sitemap-block-category {
    float: left;
    margin-right: 20px;
    width: calc( 50% - 20px );
}

.qui-sitetypes-sitemap-block table {
    margin-bottom: 20px;
    padding-left: 0;
}

.qui-sitetypes-sitemap-block th {
    padding: 5px 10px;
    text-align: left;
}

.qui-sitetypes-sitemap-block th a {
    text-decoration: underline;
    display: block;
}

.qui-sitetypes-sitemap-block th a:hover {
    text-decoration: none;
}

.qui-sitetypes-sitemap-block ul li {
    width: calc(100% - 2em);
}

.qui-sitetypes-sitemap-block-category ul li a {
    display: block;;
}